$paymiriy-color: #04da4b;
$bg-color: #444;
$font-display: "Rubik Dirt", serif;
$font-text: "inter", sans-serif;

@mixin tablet-and-up() {
  @media (min-width: 576px) {
    @content;
  }
}

.joke-toggle {
  display: flex;
  gap: 10px;
  border: none;

  &__icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all 1s;
  }
}
.thema-toggle{
  transition: all 1s ease-in-out;
}
.btn-light {
 color: #ffa500;
  background-color: white;
}
.btn-dark {
 color:white;
  background-color: #333;
}

.toggleBtn {
  display: none;
}
.background-body {
  background-color: #333;
  color: white;
}
.background-box {
  background-color: #444;
  color: white;
}
