@use "variables" as *;

body {
  margin: 0;
  padding: 0;
  font-family: $font-text;
}

.joke-app {
  max-width: 800px;
  margin: 0px auto;
  text-align: center;
  padding: 1rem;
  
  &__title {
    color: $primary-color;
    font-family: $font-display;
    font-weight: 400;
    font-size: 3rem;
    @include tablet-and-up() {
      font-size: 4.3rem;
    }
  }
}

.current-joke {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 12px 32px 0px rgba(10, 220, 7, 0.1),
    0px 2px 4px 0px rgba(10, 220, 7, 0.1);

  &__text {
    font-size: 1.2rem;
    padding: 1rem;
    word-wrap: break-word;

    @include tablet-and-up() {
      font-size: 1.5rem;
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    @include tablet-and-up() {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
    }
  }

  &__load:hover {
    background-color: #04c142;
    border-color: #04c142;
  }

  &__load {
    font-size: 1rem;
    padding: 1rem 1.5rem;
    background-color: $primary-color;
    color: #000;
    border: 1px solid $primary-color;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  &__save:hover {
    background-color: $primary-color;
    color: #000;
  }

  &__save {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 0.3rem;
    font-size: 1rem;
    color: $primary-color;
    padding: 1rem 1.5rem;
    background-color: $bg-color;
    border: 1px solid $primary-color;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &--hidden {
      display: none;
    }

    &-icon {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}

.saved-jokes {
  display: flex;
  flex-direction: column;

  &__el {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.3rem;
  }

  &__title {
    margin-top: 3rem;
    font-family: "Rubik Dirt", serif;
    font-weight: 300;
    display: flex;
    font-size: 2rem;

    @include tablet-and-up() {
      font-size: 2.5rem;
    }
  }

  &__liste {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 12px 32px 0px rgba(10, 220, 7, 0.1),
      0px 2px 4px 0px rgba(10, 220, 7, 0.1);
    padding: 1rem;
    gap: 1rem;
  }

  &__text {
    font-size: 0.8rem;

    @include tablet-and-up() {
      font-size: 1rem;
    }
  }

  &__remove:hover {
    background-color: #ea1111;
  }

  &__remove {
    border: none;
    height: fit-content;
    background-color: #f02f2f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &-icon {
      width: 1.5rem;
    }
  }
}
